[Content]
Packages=
  keyutils
  lsof
  build-essential
  autoconf
  automake
  libtool
  libkmod-dev
  libudev-dev
  uuid-dev
  uuid-runtime
  libjson-c-dev
  jq
  libkeyutils-dev
  python3
  cmake
  pkgconf
  git
  ubuntu-minimal
  libiniparser-dev
  libtracefs-dev
  libtraceevent-dev
  libsystemd-dev
  rsync
  pciutils
  xfsprogs
  dmsetup
  meson
  trace-cmd
  bsdextrautils
  xxd
  parted
  fio
  # These below have evolved between Ubuntu 22.04 and 24.04
  # ?(exact-name ...) is used as a trick not to fail when it's missing.
  # We can't use mkosi [Match] yet because it's too recent.
  # If this grows out of control then we should switch to run_qemu.sh
  # concatenating different files based on the Ubuntu revision.
  ?exact-name(systemd-resolved)
